.css-17oh61k .table-bottom-right{
	box-sizing: border-box;
	direction: ltr;
	height: 270px;
	position: absolute;
	width: 893px;
	will-change: transform;
	overflow: auto;
	left: 48px;
}

.css-12oz5g7 {
	padding-left: 0rem;
	padding-right: 0rem;
}

.css-12oz5g7 {
	flex: 1 1 0%;
	width: 100%;
	padding: 6rem 1rem 10rem;
	max-width: 100%;
}

.css-12oz5g7 {
	flex: 1 1 0%;
	width: 100%;
	padding: 1rem 1rem 10rem;
	max-width: 100%;
}

.css-zx8yrj {
	font-size: 1rem;
	font-family: "Source Sans Pro", sans-serif;
	padding-top: 0.25rem;
	padding-right: 10rem;
	padding-bottom: 0.25rem;
	padding-left: 0.25rem;
	line-height: 1.5;
}